*{
    margin: 0px;
    padding: 0px;
}

header{
    background: rgb(69, 121, 235);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    font-size: 30px;
    padding-left: 15px;
    font-family:'Ubuntu', sans-serif;;

}

.utn{
    color: azure
    
}



nav{
    
    background-color: rgb(19, 19, 87);
    margin-left: 150px;
    margin-right: 150px;
    padding: 0px;

}

li a{
    display:inline-flex;
    justify-content: center;
    text-decoration: none;
    margin-right: 15px;
    color: white;
    padding: 16px 14px;
}

.centrar{
    display: flex;
    justify-content: end;
    text-decoration: none;
    text-decoration-style: none;
    list-style-type: none;
    margin-top: 0px;

}

li a:hover{
    background: white;
    color: black;

}

main{
    background: rgb(114, 105, 105);
    display: flex;
    margin-left: 150px;
    margin-right:420px;
    padding: 15px;

}

.contenedor-1{
    height: 93vh;
    
}
.contenedor-2{
    padding: 15px;
    background: rgb(255, 255, 255);
    text-align: center;


}
.eldiego{
    width: 90%;
    height: 200px;
      

    
}
h1{
    text-align: start;
    margin-left: 30px;
}
p{
    text-align: start;
    margin-left: 30px;
}
.contenedor-3{
 background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: -50px;
  
    

    
    
}

.caja-3{
    width: 50%;
    background: rgb(255, 255, 255);
    margin-top: 0px;
display: flex;
flex-wrap: wrap;



   
  
   
   

    

}
.pelota{
    width: 80%;
    text-align: center;
    background: rgb(255, 255, 255);
    margin-left: 30px;
    height: 100px;


}
h2{
    text-align: start;
    margin-left: 30px;
}

footer{
    padding: 20px;
    background: rgb(153, 198, 212);
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}