@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.ContenedorPadreBuscaTU{
  background-image: url("./pybnder.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin: 40px 0px;
  font-family: "Outfit", sans-serif;
}


/* Contenedores del Titulo */
.TitulosBuscaTu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}
.TitulosBuscaTu_1{
  font-size: 64px;
  position: absolute;
  color: white;
}




.filtros{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px 0px;
  gap: 50px;
}

/* Estilos básicos del select */
select {
   
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    margin: 0px 10px;
    font-size: 16px;
    border-radius: 8px;
    width: 250px;
    color: #000000;
    cursor: pointer;
    outline: none;
    font-family: "Montserrat";
  }
  
  /* Añadir un ícono personalizado como flecha */
  select::after {
    content: '▼'; /* Puedes usar otro ícono aquí */
    position: absolute;
    right: 15px;
    font-size: 12px;
    color: #333;
  }
  
  /* Hover y focus en el select */
  select:hover,
  select:focus {
    border-color: #000000;
    background-color: #c9c8c8;
  }
  
  /* Estilos para opciones */


  option {
    background-color: #ffdfbd;
    color: #F28C1D;
    font-size: 24px;
    padding: 5px;
    transition: 2s;
  }

  option:hover {
    background-color: #774209;
    color: #F28C1D;
    font-size: 24px;
    padding: 5px;
    transition: 2s;
  }


  .puntos span {
    display: inline-block;
    animation: ondaAnimacion 0.9s infinite;
  }
  
  .puntos span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .puntos span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .puntos span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes ondaAnimacion {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  .paginacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }

  .volver-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    font-family: "Outfit", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
  }

  @media (max-width: 480px){
    .ContenedorPadreBuscaTU{
      background-color: #F28C1D;
      padding: 20px;
      margin: 40px 0px;
      font-family: "Outfit", sans-serif;
    }
    
    
    /* Contenedores del Titulo */
    .TitulosBuscaTu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100px;
    }
    .TitulosBuscaTu_1{
      font-size: 24px;
      position: absolute;
      color: white;
      
    }
    
    .contenedorBares{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
      margin: 0 auto;
    }
    
    
    .filtros{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      margin: 20px 0px;
      gap: 20px;
    }
    
    /* Estilos básicos del select */
    select {
       
        background-color: #f2f2f2;
        border: none;
        padding: 10px;
        margin: 0px 10px;
        font-size: 16px;
        border-radius: 8px;
        width: 100px;
        color: #000000;
        cursor: pointer;
        outline: none;
        font-family: "Montserrat";
      }
      
      /* Añadir un ícono personalizado como flecha */
      select::after {
        content: '▼'; /* Puedes usar otro ícono aquí */
        position: absolute;
        right: 15px;
        font-size: 12px;
        color: #333;
      }
      
      /* Hover y focus en el select */
      select:hover,
      select:focus {
        border-color: #000000;
        background-color: #c9c8c8;
      }
      
      /* Estilos para opciones */
    
    
      option {
        background-color: #ffdfbd;
        color: #F28C1D;
        font-size: 14px;
        padding: 5px;
        transition: 2s;
      }
    
      option:hover {
        background-color: #774209;
        color: #F28C1D;
        font-size: 24px;
        padding: 5px;
        transition: 2s;
      }
    
    
      .puntos span {
        display: inline-block;
        animation: ondaAnimacion 0.9s infinite;
      }
      
      .puntos span:nth-child(1) {
        animation-delay: 0s;
      }
      
      .puntos span:nth-child(2) {
        animation-delay: 0.2s;
      }
      
      .puntos span:nth-child(3) {
        animation-delay: 0.4s;
      }
      
      @keyframes ondaAnimacion {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-5px);
        }
      }

      .subContenedor{
        display: flex;
    
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .subContenedor img{
        width: 300px;
        height: 300px;
      }

    
    
      .loading-container video{
        width: 300px;
        height: 300px;
      }
      video::-webkit-media-controls {
        display: none !important; /* Oculta los controles en navegadores WebKit (Safari y Chrome en móviles) */
      }
      
      video::-webkit-media-controls-overlay-play-button {
        display: none !important; /* Oculta el botón de reproducción en el centro */
      }
  }









  .contenedorBares {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .subContenedor {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .subContenedor:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
  }
  
  .ImagenBoliche img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .contenedorDeImagen {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 300px;
  }
  
  .informacionImagenes h3 {
    font-size: 1.2rem;
    margin: 0;
    color: #333;
    font-family: "Outfit", sans-serif;
  }
  
  .informacionImagenes p {
    margin: 0.5rem 0 1rem 0;
    color: #666;
    font-family: "Outfit", sans-serif;
  }
  
  .btn-Imagenes {
    margin-top: auto;
  }
  
  .btn-Imagenes button {
    width: 100%;
    padding: 9px;
    background-color: #F28C1D;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    transition: background-color 0.3s ease;
    justify-content: center;
  }
  
  .btn-Imagenes button:hover {
    background-color: #d97706;
  }
  
























  .header-busca-tu {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }
  
  .header-busca-tu h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .subtitulo {
    font-size: 1rem;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
  }
  
  .filtros-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
  }
  
  .filtro label {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
  }
  
  .filtro i {
    margin-bottom: 5px;
    color: #F28C1D;
  }
  
  .filtro select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    margin-top: 5px;
  }
  