@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.ContenedorDetallesPadreTotal{
    font-family: "Outfit", sans-serif;
}

.loading {
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}



.contenedorTitulo{
    background-color: #F28C1D;
    color: #ffffff;
    text-align: center;
    font-size: 41px;
}




.contenedorPrecioHorario{
    text-align: center;
}
.contenedorPrecioHorario span{
    color: #e21300;
    font-size: 30px;
}
.contenedorPrecioHorario p{
    color: #931004;
}




.contenedorImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contenedorImagen img{
    border-radius: 30px;
}




.contenedorIconos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    gap: 40px;
}



.contenedorDescripcion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    text-align: center;
}
.contenedorDescripcion h2{
    font-size: 30px;
}
.contenedorDescripcion p{
    margin: 0px 300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.contenedorDescripcion button{
    background-color: #e21300;
    padding: 5px 25px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid black;
}





.contenedorPreciosBotellas{
    text-align: center;
    margin-top: 70px;
}
.contenedorPreciosBotellas h2{
    font-size: 30px;
}




.contenedorUbicacion{
    text-align: center;
    margin-top: 70px;
}
.contenedorUbicacion h2{
    font-size: 30px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    all: unset;
    font-size: 50px;
    cursor: pointer;
    

}

button:hover{
    transform: scale(1.1);
    transition: 2s;
}

.btn-fav{
    display: flex;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease; /* Animación de entrada */
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .modal-content {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra sutil */
    text-align: center;
    animation: scaleUp 0.3s ease; /* Animación de entrada */
    position: relative;
  }
  
  @keyframes scaleUp {
    from { transform: scale(0.9); }
    to { transform: scale(1); }
  }
  
  .modal-content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  
  .modal-content button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }
  
  .modal-content button:last-child {
    background-color: #f44336;
  }
  
  .modal-content button:last-child:hover {
    background-color: #d32f2f;
  }
  
  .modal-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    color: #333;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
  }

@media (max-width: 480px){
    .ContenedorDetallesPadreTotal{
        font-family: "Outfit", sans-serif;
    }
    
    .loading {
        animation: blink 1s infinite;
    }
    @keyframes blink {
        0%, 100% { opacity: 0; }
        50% { opacity: 1; }
    }
    
    
    
    .contenedorTitulo{
        background-color: #F28C1D;
        color: #ffffff;
        text-align: center;
        font-size: 21px;
    }
    
    
    
    
    .contenedorPrecioHorario{
        text-align: center;
    }
    .contenedorPrecioHorario span{
        color: #e21300;
        font-size: 30px;
    }
    .contenedorPrecioHorario p{
        color: #931004;
    }
    
    
    
    
    .contenedorImagen{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .contenedorImagen img{
        border-radius: 30px;
    }
    
    
    
    
    .contenedorIconos{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        gap: 40px;
    }
    
    
    
    .contenedorDescripcion{
        display: flex;
        justify-content: center;
        
        width: 100%;
        margin-top: 70px;
    
    }
    .contenedorDescripcion h2{
        font-size: 30px;
    }
    .contenedorDescripcion p{
        margin: 0px 700px;
      display: block;
        flex-wrap: wrap;
        margin-bottom: 30px;
        width: 90%;
        
    }
    .contenedorDescripcion button{
        background-color: #e21300;
        padding: 5px 25px;
        border-radius: 20px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        border: 2px solid black;
    }
    
    
    
    
    
    .contenedorPreciosBotellas{
        text-align: center;
        margin-top: 70px;
    }
    .contenedorPreciosBotellas h2{
        font-size: 30px;
    }
    
    
    
    
    .contenedorUbicacion{
        text-align: center;
        margin-top: 70px;
    }
    .contenedorUbicacion h2{
        font-size: 30px;
    }
    
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        all: unset;
        font-size: 50px;
        cursor: pointer;
        
    
    }
    
    button:hover{
        transform: scale(1.1);
        transition: 2s;
    }
    
    .btn-fav{
        display: flex;
        justify-content: center;
    }
}