/* Informacion de Titulo y Zona */

.informacionImagenes{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}
.informacionImagenes h3{
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0;
    color: black;
}


/* Informacion de Boton */

.btn-Imagenes button{
    all: unset;
    background-color: #F28C1D;
    padding: 5px;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.btn-Imagenes button:hover{
    background-color: #931004;
    transition: 1s;
}