

/* Informacion del contenedor */
.contenedorBares{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 150px;
}
.subContenedor{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.subContenedor img{
    width: 350px;
}
.ImagenBoliche{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 15px;
}


.ImagenBoliche img{
    height: 400px;
}
/* baresList.css */


/* Informacion del contenedor  de abajo de la imagen */

.contenedorDeImagen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    max-width: 300px;
    font-size: 12px;
}

/* Informacion de Titulo y Zona */

.informacionImagenes{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}
.informacionImagenes h3{
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0;
    color: black;
}


/* Informacion de Boton */

.btn-Imagenes button{
    all: unset;
    background-color: #F28C1D;
    padding: 5px;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.btn-Imagenes button:hover{
    background-color: #931004;
    transition: 1s;
}

.loading-container video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background-color: white;

}

.loading-container{
    display: flex;
    justify-content: center;
    background-color: white;

    padding: 10px;
}